header{
    grid-area: header;
display: flex;
justify-content: center;
border:0.5rem solid #770000;
width: auto;
height: auto;
background: white;
}

#CDK{
    height: 4rem;

}

body{
    padding: 0;
    margin: 0;
}
header img{
    height: 1rem;
    width: 5rem;
    border-radius: 50%;
}

nav{
    grid-area: nav;
border: 0.5rem solid red;
width: auto;
height: auto;
background: white;
}

aside{
    grid-area: aside;
    border: 0.5rem solid blue;
    width: auto;
    background: white;
}

main{
    grid-area: main;
    border: 0.5rem solid yellow;
    width: auto;
    height: auto;
    background: white;
}

footer{
    grid-area: footer;
    border: 0.5rem solid green;
    width: auto;
    height: auto;
    background: white;
}

.ab{
    height: 5rem;
}

.cd{
    border: 0.2rem solid purple;
}

.artico{
    background: rgb(184, 180, 180);
    border: 0.5rem solid blue;
    height: 100vh;
    display: grid;
    gap: 1rem;
    grid-template:
    "nav aside header" 5rem
    "nav aside main" auto
    "nav aside footer" 2rem /
    10rem 10rem auto;
}
div{
    padding: 2rem;
}